/*/

!/dev-lib/
!/lib/
!/scripts/
!/src/
!/test/
!/types/

!/docs/
/docs/css/
/docs/js/
/docs/publish.js

!/examples/
/examples/graph2d-generated/
/examples/graph2d/examples.css
/examples/graph2d/index.html
/examples/timeline-generated/
/examples/timeline/examples.css
/examples/timeline/index.html
/examples/timeline/other/requirejs/scripts/require.js
