# npm files
node_modules
npm-debug.log

# ide or system files
.idea
.c9
*.iml
.project
.settings/
.directory

# temporary files
.*.sw[op]
.commits.tmp
.nyc_output/
/coverage/
/declarations/
/dist/
/esnext/
/examples/graph2d-generated/
/examples/graph2d/examples.css
/examples/graph2d/index.html
/examples/timeline-generated/
/examples/timeline/examples.css
/examples/timeline/index.html
/gen/
/peer/
/standalone/
/styles/
/vis-timeline-0.0.0-no-version.tgz
