version: 2.1

executors:
  node:
    docker:
      - image: cimg/node:24.11.0-browsers
    working_directory: ~/repo
    environment:
      GIT_AUTHOR_EMAIL: visjsbot@gmail.com
      GIT_AUTHOR_NAME: vis-bot
      GIT_COMMITTER_EMAIL: visjsbot@gmail.com
      GIT_COMMITTER_NAME: vis-bot

jobs:
  prepare:
    executor: node

    steps:
      - checkout

      - run: npm ci

      - persist_to_workspace:
          root: ..
          paths:
            - ".cache"
            - "repo"

  build:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run build

      - persist_to_workspace:
          root: ..
          paths:
            - "repo/declarations"
            - "repo/dist"
            - "repo/esnext"
            - "repo/peer"
            - "repo/standalone"
            - "repo/styles"
            - "repo/types"

  examples:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run generate-examples-index

      - persist_to_workspace:
          root: ..
          paths:
            - "repo/examples"

  lint:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run style
      - run: npm run lint

  test:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run test

  gh_pages:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run:
          name: Set Git credentials
          command: |
            echo 'machine github.com' >> ~/.netrc
            echo "        login $GIT_AUTHOR_NAME" >> ~/.netrc
            echo "        password $GH_TOKEN" >> ~/.netrc

      - run:
          name: Publish GitHub Pages
          command: |
            npx gh-pages \
              --dist . \
              --message "chore: update to $(git rev-parse HEAD) [ci skip]" \
              --repo "$(node -e 'process.stdout.write(require("./package.json").repository.url.replace(/^git\+https:\/\//, "https://"))')" \
              --src '{{coverage,dist,docs,esnext,examples,peer,standalone,styles,types}/**/*,LICENSE*,*.{html,md}}'

  release:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run:
          name: Prepare NPM
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN

      - run:
          name: Release
          command: |
            npx semantic-release

workflows:
  version: 2

  build:
    jobs:
      - prepare

      - build:
          requires:
            - prepare

      - examples:
          requires:
            - prepare
            - build

      - lint:
          requires:
            - prepare

      - test:
          requires:
            - prepare
            - build

      - gh_pages:
          requires:
            - prepare
            - build
            - examples
            - lint
            - test
          filters:
            branches:
              only:
                - master

      - release:
          requires:
            - prepare
            - build
            - examples
            - lint
            - test
          filters:
            branches:
              only:
                - master
